<!-- feed -->

<!-- modi post -->
<div class="card shadow border-0 mt-4" style="border-radius: 10px;">
<div class="card-body py-0">
    <table class="table table-borderless">
    <tr>
        <td style="width: 40px; padding: 0px; padding-top: 13px;">
        <img src="https://th.bing.com/th/id/OIP.ptJ7EBRbGUZ4ubFpswFUkAHaHL?w=196&h=191&c=7&r=0&o=5&dpr=1.25&pid=1.7" class="img-fluid rounded-circle" style="width: 35px; height: 35px;" alt="dog">
        </td>
        <td class="pb-0" style="line-height: 20px;">
        <small class="card-title">
            <b>Narendra Modi</b>
        </small><br>
        <small>@narendramodi</small>
        </td>
    </tr>
    </table>
</div>
<img src="https://images.unsplash.com/photo-1627060710997-18505c0c89b1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1171&q=80" class="img-fluid" alt="farm">
<div class="card-body">
    <p class="card-text">
    Since last four months I continuously watered my farm with a drip irrigation system. Now the result is in front of you. Thanks to all the support from Mr. Madhav Laad
    </p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    
    <table class="table table-borderless">
    <thead>
        <tr class="text-center">
        <td class="text-muted"><i class="bi bi-hand-thumbs-up"></i></td>
        <td class="text-warning"><i class="bi bi-chat-left-quote"></i></td>
        <td class="text-info"><i class="bi bi-share"></i></td>
        <td class="text-success">
            <div class="dropdown">
            <a class="" href="#" role="button" id="postid" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
            </a>
            
            <ul class="dropdown-menu" aria-labelledby="postid">
                <li><a class="dropdown-item" href="#"><i class="bi bi-plus-circle"></i> Follow Account</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-arrow-repeat"></i> Repost</a></li>
            </ul>
            </div>
        </td>
        </tr>
    </thead>
    </table>

</div>
</div>

<!-- Rowling post -->
<div class="card shadow border-0 mt-4" style="border-radius: 10px;">
<div class="card-body py-0">
    <table class="table table-borderless">
    <tr>
        <td style="width: 40px; padding: 0px; padding-top: 13px;">
        <img src="https://th.bing.com/th/id/R.ec40e2f297bb471e263e5d81aa2a3a71?rik=i%2frlgB0uFoQ5Kw&riu=http%3a%2f%2fprod.static9.net.au%2f_%2fmedia%2f2018%2f11%2f08%2f16%2f03%2f20181108_jkrowling_aap.jpg&ehk=PUwoLVcLWtyUg7CA38AiYMVpjE%2bN0C%2bLS9z%2fAjyEvso%3d&risl=&pid=ImgRaw&r=0" class="img-fluid rounded-circle" style="width: 35px; height: 35px;" alt="dog">
        </td>
        <td class="pb-0" style="line-height: 20px;">
        <small class="card-title">
            <b>Ms. Rowling</b>
        </small><br>
        <small>@jkrowling</small>
        </td>
    </tr>
    </table>
</div>
<div class="card-body">
    <p class="card-text">
    
    <b class="text-primary">@GMB</b> turkey farmer 
    <b class="text-primary">@KellyBronze</b>
        moaned that he can't find any workers because of Brexit. I just exposed this for the total nonsense it is. Here's what happened! 'I will offer to come and work on your farm for a few days.'
        <b class="text-primary">@IsabelOakeshott</b> and Paul Kelly clash over the difficulty of getting staff to work on farms. Isabel offers her services to work on Paul's farm for a few days.
    
    </p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    
    <table class="table table-borderless">
    <thead>
        <tr class="text-center">
        <td class="text-muted"><i class="bi bi-hand-thumbs-up"></i></td>
        <td class="text-warning"><i class="bi bi-chat-left-quote"></i></td>
        <td class="text-info"><i class="bi bi-share"></i></td>
        <td class="text-success">
            <div class="dropdown">
            <a class="" href="#" role="button" id="postid" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
            </a>
            
            <ul class="dropdown-menu" aria-labelledby="postid">
                <li><a class="dropdown-item" href="#"><i class="bi bi-plus-circle"></i> Follow Account</a></li>
                <li><a class="dropdown-item" href="#"><i class="bi bi-arrow-repeat"></i> Repost</a></li>
            </ul>
            </div>
        </td>
        </tr>
    </thead>
    </table>

</div>
</div>