{% extends "home/base.html" %}

{% block title %}
    All Profiles
{% endblock %}

{% block maincontent %}

<div class="mt-5">
<a href="{% url 'all-profiles' %}" style="border-radius: 10px;" class="btn btn-primary">All Profiles</a>
<a href="{% url 'invite-profiles' %}" style="border-radius: 10px;" class="btn btn-outline-primary">Send Requests</a>
</div>

<div class="card p-3 mt-lg-3 mt-4 border-0 shadow" style="border-radius: 10px;">
    <h5>People on AgroMedia</h5>
    <br>
    
    {% if object_list %}
    <div class="row">
        {% for i in object_list %}
            <div class="col-lg-4">
                <div class="align-items-center mb-3">
                    <div class="card p-3" style="border-radius: 10px;">
                        <div class="user text-center">
                            <div class="profile"> <img src="{{ i.user.profile.image.url }}" class="rounded-circle" width="60%"> </div>
                        </div>
                        <div class="mt-5 text-center">
                            <h5 class="mb-0">{{ i.user }}</h5> <span class="text-muted d-block mb-2">{{ i.user.profile.first_name }} {{ i.user.profile.last_name }}</span>
                            
                            {% if i.user not in rel_receiver and i.user not in rel_sender %}
                            <form action="{% url 'send-invite' %}" methods="POST">
                                {% csrf_token %}
                                <input type="hidden" name="profile_pk" value="{{ i.pk }}">
                                <button type="submit" class="btn btn-success btn-sm">Add Friend</button>
                            </form>
                            {% endif %}

                            {% if i.user in rel_receiver and request.user not in i.friends.all %}
                            <form action="" methods="POST">
                                {% csrf_token %}
                                <input type="hidden" name="profile_pk" value="{{ i.pk }}">
                                <button disabled type="submit" class="btn btn-secondary btn-sm">Pending</button>
                            </form>
                            {% endif %}

                            {% if request.user in i.friends.all %}
                            <form action="" methods="POST">
                                {% csrf_token %}
                                <input type="hidden" name="profile_pk" value="{{ i.pk }}">
                                <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                            </form>
                            {% endif %}


                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-info text-center">
        <h5>You are the only one</h5>
    </div>
    {% endif %}


</div>

{% endblock %}