{% extends "home/base.html" %}

{% block title %}
    Profile
{% endblock %}

{% block maincontent %}

<!-- profile card -->
<div class="card p-3 mt-lg-5 mt-4 border-0 shadow" style="border-radius: 10px;">
    <!-- dp name bio row -->
    <div class="row">
        <center class="col-lg-6 p-1 col-5">
            <img src="{{ user.profile.image.url }}" class="img-fluid rounded-circle" style="width: 150px; max-height: 150px;" alt="{{ user.username }}">
            <br><br>
            <div class="d-lg-none">
                <a href="{% url 'settings' %}" class="btn btn-sm inactive-btn"><i class="bi bi-gear"></i></a>
                <a class="btn btn-sm btn-outline-danger" href="{% url 'logout' %}" style="border-radius: 10px;"><i class="bi bi-box-arrow-left"></i></a>
            </div>

        </center>
        <div class="col-lg-6 col-7">
            <h3 class="card-title">
                <b>{{ user.username }}</b>
            </h3>
            {% if obj.first_name %}
            <p> {{ obj.first_name }} {{ user.profile.last_name }} </p>
            {% endif %}
            <small>
                {{ user.profile.bio|linebreaks }}
                {% if user.profile.website %}
                    <i class="bi bi-link-45deg"></i> {{ user.profile.website|urlize }}
                {% endif %}
            </small>    
        </div>
    </div>

    <!-- data row -->
    <table class="table table-borderless mt-5">
        <tr class="text-center">
            <td class="p-0 col-6"><b>Posts</b></td>
            <td class="p-0 col-6"><b>Friends</b></td>
        </tr>
        <tr class="text-center">
            <td class="p-0 col-6">{{ obj.get_posts_no }}</td>
            <td class="p-0 col-6">{{ obj.get_friends_count }}</td>
        </tr>
    </table>
</div>
{% endblock %}