
  <div class="container-center-horizontal">
    <div class="desktop-1screen">
      <div class="overlap-group3">
        <div class="rectangle-4"></div>
      </div>
      <div class="flex-col">
        <div class="overlap-group2">
          <h1 class="titleroboto-normal-black-36px">Store Layout</h1>
        </div>
        <div class="overlap-group5">
          <div class="search-placeroboto-normal-black-36px">Search Place</div>
        </div>
        <img
          class="rectangle-6"
          src="https://media.istockphoto.com/photos/find-your-way-location-marking-with-a-pin-on-a-map-with-routes-picture-id1287428874?b=1&k=20&m=1287428874&s=170667a&w=0&h=4DnjfrI0rOT-sR7PZfPrxQpO4MZXxqJfJpDH7_UuWmM="
        />
        <div class="overlap-group6">
          <div class="overlap-group1">
          <hr>
            <p class="text-1roboto-normal-black-12px">
              <span class="roboto-normal-black-12px"><br /></span
              ><span class="roboto-normal-black-24px">Jagdamba Hardware &amp; Electrical,Lakhamapur Phata<br /></span
              ><span class="roboto-normal-black-13px"
                >5.0<br />
                ⁕⁕⁕⁕⁕<br />(1) · Hardware store<br />Maharashtra <br />In-store shopping</span
              >
            </p>
            <span><img
              class="rectangle-11"
              src="download.jfif"
            /></span>
          </div>
          <hr>
            <p class="text-1roboto-normal-black-12px">
              <span class="roboto-normal-black-12px"><br /></span
              ><span class="roboto-normal-black-24px">Jagdamba Hardware &amp; Electrical,Lakhamapur Phata<br /></span
              ><span class="roboto-normal-black-13px"
                >5.0<br />
                ⁕⁕⁕⁕⁕<br />(1) · Hardware store<br />Maharashtra <br />In-store shopping</span
              >
            </p>
            <span><img
              class="rectangle-11"
              src="download.jfif"
            /></span>
          </div>
          <hr>
            <p class="text-1roboto-normal-black-12px">
              <span class="roboto-normal-black-12px"><br /></span
              ><span class="roboto-normal-black-24px">Jagdamba Hardware &amp; Electrical,Lakhamapur Phata<br /></span
              ><span class="roboto-normal-black-13px"
                >5.0<br />
                ⁕⁕⁕⁕⁕<br />(1) · Hardware store<br />Maharashtra <br />In-store shopping</span
              >
            </p>
            <span><img
              class="rectangle-11"
              src="download.jfif"
            /></span>
          </div>
          <hr>
            <p class="text-1roboto-normal-black-12px">
              <span class="roboto-normal-black-12px"><br /></span
              ><span class="roboto-normal-black-24px">Jagdamba Hardware &amp; Electrical,Lakhamapur Phata<br /></span
              ><span class="roboto-normal-black-13px"
                >5.0<br />
                ⁕⁕⁕⁕⁕<br />(1) · Hardware store<br />Maharashtra <br />In-store shopping</span
              >
            </p>
            <span><img
              class="rectangle-11"
              src="download.jfif"
            /></span>
          </div>    
        </div>

      </div>
    </div>
  </div>


