@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

.light-bg-1{
  background-color: #e6f1ff; /*#ebffe6*/
}

.dark-bg-1{
  background-color: #029658;
}

.light-text-1{
  color: #37fd4d;
}

.top-tab{
  width: 30px;
  padding: 3px;
  margin: 0px auto;
  color: #909499;
  border-radius: 5px;
  cursor: pointer;
}

.top-tab-active{
  background-color: #022f96 /*#029658*/;
  color: #37d9fd /*#37fd4d*/;
}

.logo{
  width: 35px;
  height: 35px;
  border-radius: 100%;
}

.top-search-bar{
  width: 100%;
  border-radius: 10px;
  border: 0px;
  padding: 5px;
}

.active-btn{
  border-radius: 10px;
  background-color: #022f96 /*#029658*/;
  color: #a1eeff /*#37fd4d*/;
}

.active-btn:hover{
  color: white;
}

.inactive-btn{
  border-radius: 10px;
  background-color: #e6f1ff;
  border-color: #022f96;
  color: #022f96;
}

.inactive-btn:hover{
  background-color: #022f96;
  color: white;
}

/* comment system */

.card-no-border .card {
  border: 0px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.comment-widgets .comment-row:hover {
  background: rgba(0, 0, 0, 0.02);
  cursor: pointer
}

/* .comment-widgets .comment-row {
  border-bottom: 1px solid rgba(120, 130, 140, 0.13);
} */

.comment-text:hover {
  visibility: hidden
}

.comment-text:hover {
  visibility: visible
}

.label {
  padding: 3px 10px;
  line-height: 13px;
  color: #ffffff;
  font-weight: 400;
  border-radius: 4px;
  font-size: 75%
}

.round img {
  border-radius: 100%
}

.label-info {
  background-color: #1976d2
}

.label-success {
  background-color: green
}

.label-danger {
  background-color: #ef5350
}

.action-icons a {
  padding-left: 7px;
  vertical-align: middle;
  color: #99abb4
}

.action-icons a:hover {
  color: #1976d2
}

.mt-100 {
  margin-top: 100px
}

.mb-100 {
  margin-bottom: 100px
}/* weather */
